* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .game, .scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    font-family: monospace;
}

button {
    position: relative;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 3%;
    transition: all 500ms;
    overflow: hidden;
}

button:hover { 
    color: #48d6fa;
    border-color: #48d6fa;
}

canvas {
    position: absolute;
}

.game {
    width: 50%;
    height: 100%;
}

.scoreboard {
    width: 50%;
    height: 100%;
    align-items: flex-start;
    margin-top: 150px;
    font-family: monospace;
    flex-flow: wrap;
}

.scoreboard h1 {
    font-size: 45px;
}

.scoreboard table {
    margin-top: -400px;
    width: 100%;
    text-align: center;
}

.scoreboard table tr, td {
    font-size: 30px;
}

.disabled {
    display: none;
}